* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width: fit-content;
    height: fit-content;
    padding: 2%;
    padding-top: 0;
    background-position: center;
    background-repeat: repeat;
    background-color: rgb(61, 59, 52);
    background-image: url("../media/blue\ border\ left_web.jpg");
    /* background-image: url("../media/Poster_v2_web.jpg"); */
    /* background-image: url("../media/background_repeat_web.jpg"); */
    align-items: center;
}

.header{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin:1%;
}

.header img{
    margin:-1%;
    min-width: 256px;
}

.sticky{
    position: sticky;
    position: -webkit-sticky;
}

.main-area {
    width:100%;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.page {
    /* min-width: 1280px; */
}
.page img{
    margin-top: 1%;
    border-radius: 4px;
    border: 1px black;
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
 }
.nav-footer {
    background:rgb(72, 75, 238);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 30%;
    height: 68px;
}

.socials img {
    margin: 0 10px;
}
@media (min-width:1280px){
    body {
        padding: 8%;
        padding-top: 0%;
    }
    .img-magnifier-container {
        position:relative;
      }
      
    .img-magnifier-glass {
        position: absolute;
        border: 3px solid rgb(72, 75, 238);
        border-radius: 10%;
        cursor: crosshair;
        /*Set the size of the magnifier glass:*/
        width: 27%;
        height: 8%;
    }
}

/* todo:
make the magnifier smaller on tiny desktops screens so it doesn't overflow past margin*/