* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: fit-content;
    width: fit-content;
    background-color: #60b3ff;
    background-image: linear-gradient(to right, rgb(48, 112, 184), rgb(255, 255, 255), rgb(48, 112, 184));
    background-image: url("../media/Poster_web\ background\ 3840x2160.jpg");
    background-size:cover;
    background-position-x: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

body {
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-left: 2%;
    padding-right: 2%;
    align-items: center;
}

#sheet-mobile{
    display: block;
}    
#sheet-desktop{
    display: none;
}    


.header{
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    margin:1%;
}

.header img{
    margin:-1%;
    min-width: 256px;
}

.main-area {
    width:100%;
    /* align-items: center; */
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.page {
    /* min-width: 1280px; */
}
.page img{
    margin-top: 1%;
    border-radius: 4px;
    border: 1px black;
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
 }
.nav-footer {
    background:rgb(72, 75, 238);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 30%;
    height: 68px;
}

.socials img {
    margin: 0 10px;
}
@media (min-width:1280px){
    #sheet-desktop{
        display: block;
    }    
    #sheet-mobile{
        display: none;
    }    
    body {
    padding-left: 8%;
    padding-right: 8%;
    }
    .img-magnifier-container {
        position:relative;
      }
      
    .img-magnifier-glass {
        position: absolute;
        border: 3px solid rgb(72, 75, 238);
        border-radius: 10%;
        cursor: crosshair;
        /*Set the size of the magnifier glass:*/
        width: 25%;
        height: 20%;
    }
}