* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width:  100%;
    height: 100%;
    background-position: center;
    background-color: rgb(61, 59, 52);
}

.main-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.page img{
    margin: 1%;
    border-radius: 4px;
    border: 1px black;
    box-shadow: 0 0 20px 0px rgb(0, 0, 0);
 }
.nav-footer {
    background:rgb(72, 75, 238);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 30%;
    height: 68px;
}

.socials img {
    margin: 0 10px;
}