@font-face {
    font-family: opensans;
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: opensans-condensed-regular;
    src: url('../fonts/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf');
}

@font-face {
    font-family: opensans-condensed-bold;
    src: url('../fonts/OpenSans_Condensed/OpenSans_Condensed-Bold.ttf');
}

@font-face {
    font-family: pixelate;
    src: url('../fonts/Pixelate/pixelate/pixellocale-v-1-4/pixellocale-v-1-4.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width:  100%;
    height: 100%;
    background: url('../media/background_repeat.png');
    background-position: center;
}

main {
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
/* Marquee start */
#marquee-container {
    width: 100%;
    height: 220px;
    overflow:hidden;
    margin-top: 10px auto;
    background: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.photobanner {
    height: 100%;
    width: 100%;
    margin-bottom: 10px
}
/* .first {
    -webkit-animation: bannermove 5s linear infinite;
   }  

@-webkit-keyframes "bannermove" {
    0% {
        margin-left: -42%;
    }
    100% {
        margin-left: -123.7%;
    }
} */
    
    /* block for zoom highlighting
    .photobanner img:hover {
        -webkit-transition: all 0.3s ease;
        transform: scale(1.05);
    }
    */
/*Marquee end */
.content {
    overflow-y: scroll;
    flex: 1;
}

#bottom-nav {
    background:rgb(72, 75, 238);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-container-desktop, #banner-desktop {
    display: none;
}

.banner-container-mobile  {
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 100;
}

#banner-mobile {
    width: 100%;
    height: 100%;
    vertical-align: top;
}
::-webkit-scrollbar {
    display: none;
}
.main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    align-items: center;
}
.bold-red {
    color: rgb(255, 68, 68);
    font-family: opensans-condensed-bold;
}

.left-sidebar, .right-sidebar {
    display: none;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.section-header {
    width: 95%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: opensans;
    font-size: 2em;
    color: rgb(255, 243, 28);
    position: relative;
    margin-bottom: -50px;
}

.section-header span {
    color: rgb(255, 243, 28);
    --stroke-width: 2pt;
    --stroke-color: rgb(72, 75, 238);
    text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
    var(--stroke-color);
}

.section-body {
    width: 90%;
    background: #FFF7D3;
    z-index: 5;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
    padding: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    overflow-x: hidden;
    border: 1px solid black;
}


.section-header img {
    height: 100%;
    width: 100%;
}

.section-header span {
    position: absolute;    
}

.section-body h1 {
    color: rgb(61, 59, 52);
    font-size: 1.4em;
    font-family: pixelate;
    letter-spacing: normal;
    border-top: 3px solid rgb(61, 59, 52);
    width: 80%;
    line-height: 1.2;
}

/*Exception for prologue section*/
#div-section-0 {
    margin-top: -50px;
}
#div-section-0 h1{
    margin-top: -50px;
    /* border-top: 3px solid black; */
    padding-top: 60px;
}
#div-section-0 p{
    margin-top: 20px;
}


.section-body p {
    text-align: center;
    width: 80%;
    font-family: opensans-condensed-regular;
    font-size: 1.3em;
    /*^^font size for mobile*/
    margin-top: 40px;
    color: rgb(61, 59, 52);
}
.table-contents {
    width: 85%;
    border: 0px solid;
    border-top: 1px solid;
    text-align: left;
    font-family: opensans-condensed-regular;
    font-size: 1.3em;
    color: rgb(61, 59, 52);
    justify-content: center;
    border-spacing: 15px;
}

.bold-red {
    color: rgb(255, 68, 68);
    font-family: opensans-condensed-bold;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 30%;
    height: 68px;
}

.socials img {
    margin: 0 10px;
}

@media (min-width: 768px) {
    /* .section {
        width: 80%;
    } */

    .section-header {
        font-size: 2.4em;
    }

    .section-header span {
        --stroke-width: 3pt;
    }

    .section-body h1 {
        font-size: 1.6em;
    }
}

@media (min-width: 1024px) {
    .section-header {
        font-size: 3em;
    }
}
/*Threshold from mobile to desktop*/
@media (min-width: 1400px) {
    ::-webkit-scrollbar {
        display: none;

    }

    .banner-container-mobile {
        display: none;
    }

    .banner-container-desktop, #banner-desktop {
        display: block;
    }

    #bottom-nav {
        display: none;
    }

    main {
        display: block;
    }
    
    .banner-container-desktop {
        width: 100%;
        height: auto;
        z-index: 100;
        overflow:hidden;
        margin: auto;
        border: 0px solid transparent;
        padding: 0px;
    }

    #banner-desktop {
        width: 100%;
        height: auto;
    }
    
    .content {
        display: flex;
        flex-direction: row;
        height: 880px;
        width: 100%;
    }
    
    .main-section {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        width: 100%;
        overflow-y: scroll;
    }
    .left-sidebar, .right-sidebar {
        width: 365px;
        min-width: 365px;
    }
    
    .left-sidebar {
        background-image: url('../media/page\ border_left_short.png');
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
    }
    
    .right-sidebar {
        background-image: url('../media/page\ border_right_short.png');
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content:space-around;
        align-items: center;
        padding-left: 2%;

    }

    .socials {
        display: flex;
        justify-content: center;
        width: 100%;
    }
    
    .socials img {
        margin: 0 10px;
    }
    
    .section {
        width: 100%;
        /*height: 250%; /*paramater to fix section stacking*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        margin:20px auto;
    }
    
    .section-header {
        width: 100%;
        max-width: 1400px;
        max-height: 300px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: opensans;
        font-size: 4em;        
        letter-spacing: -3px;
        position: relative;
    }

    .section-header span {
        color: rgb(255, 243, 28);
        --stroke-width: 5pt;
        --stroke-color: rgb(72, 75, 238);
        text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
        var(--stroke-color);
    }
    
    .section-body {
        width: 90%;
        max-width: 1200px;
        background: #FFF7D3;
        margin-top: -50px;
        z-index: 5;
        border-radius: 25px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
        padding: 100px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-body h1 {
        width: 70%;
        color: rgb(61, 59, 52);
        font-size: 2.2em;
        font-family: pixelate;
        letter-spacing: normal;
        border-top: 3px solid rgb(61, 59, 52);
    }

    .section-body p {
        text-align: center;
        width: 90%;
        font-family: opensans-condensed-regular;
        font-size: 1.4em;
        margin-top: 20px;
        color: rgb(61, 59, 52);
    }
    
    .btn-img {
        border: none;
        cursor:pointer;
        background-color: transparent;
    }
      
    .btn-img:hover img {
        opacity: 0.8;
        position: relative;
        -webkit-transition: all 0.1s ease;
        transform: scale(1.04)
    }
    
    .mint_button {
        background: url("../media/mint_button_sprite.png") ;
        width: 315px;
        height: 81px;
    }

    .mint_button:hover {
        background: url("../media/mint_button_sprite.png") ;
        background-position: 0 -79px;
        width: 315px;
        height: 81 px;
        cursor: pointer;
    }

    .leaderboard_button {
        background: url("../media/leaderboard_button_sprite.png") ;
        width: 315px;
        height: 81px;
    }

    .leaderboard_button:hover {
        background: url("../media/leaderboard_button_sprite.png") ;
        background-position: 0 -79px;
        width: 315px;
        height: 81 px;
        cursor: pointer;
    }

    .tab {
        cursor: pointer;
        height: 125px;
        width: 310px;
        margin: 12px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: opensans-condensed-regular;
        font-size: 1.6em;
        color: rgb(255, 247, 211);
        background-repeat: no-repeat;
    }
    
    #tab-1 {
        background: url('../media/tabs_1_on.png');
    }
    #tab-2 {
        background: url('../media/tabs_2_off.png');
    }
    #tab-3 {
        background: url('../media/tabs_3_off.png');
    }
    #tab-4 {
        background: url('../media/tabs_4_off.png');
    }
    #tab-5 {
        background: url('../media/tabs_5_off.png');
    }
    
}