@font-face {
    font-family: opensans;
    src: url('../fonts/OpenSans/OpenSans-Bold.ttf');
}

@font-face {
    font-family: opensans-condensed-regular;
    src: url('../fonts/OpenSans_Condensed/OpenSans_Condensed-Regular.ttf');
}

@font-face {
    font-family: opensans-condensed-bold;
    src: url('../fonts/OpenSans_Condensed/OpenSans_Condensed-Bold.ttf');
}

@font-face {
    font-family: pixelate;
    src: url('../fonts/Pixelate/pixelate/pixellocale-v-1-4/pixellocale-v-1-4.ttf');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    width:  100%;
    height: 100%;
    background: url('../media/background_repeat_web.jpg');
    background-position: center;
}

main {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
.content {
    overflow-y: scroll;
    flex: 1;
}
.content::-webkit-scrollbar {
    display: none;
}

.nav-footer {
    background:rgb(72, 75, 238);
    width: 100%;
    height: 80px;
    display: flex;
    z-index: 99;
    justify-content: center;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
}

#mobile-quicklinks{
    margin-top:20px;
    margin-bottom:10px;
    flex-wrap: wrap;

}

.banner-container  {
    width: 100%;
    background-size: cover;
    background-position: center;
    z-index: 100;
}

#banner {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.mint_button {
    background: url("../media/mint_button_sprite_short.png") ;
    width: 292px;
    height: 81px;
}

.mint_button:hover {
    background: url("../media/mint_button_sprite_short.png") ;
    background-position: 0 -79px;
    width: 292px;
    height: 81 px;
    cursor: pointer;
}

.leaderboard_button {
    background: url("../media/leaderboard_button_sprite_short.png") ;
    width: 292px;
    height: 81px;
}

.leaderboard_button:hover {
    background: url("../media/leaderboard_button_sprite_short.png") ;
    background-position: 0 -79px;
    width: 292px;
    height: 81 px;
    cursor: pointer;
}

.main-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    align-items: center;
}
.bold-red {
    color: rgb(255, 68, 68);
    font-family: opensans-condensed-bold;
}

.left-sidebar, .right-sidebar {
    display: none;
}

.section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    min-width: 300px;
}

.section-header {
    width: 95%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: opensans;
    font-size: 2em;
    color: rgb(255, 243, 28);
    position: relative;
    margin-bottom: -50px;
}

.section-header span {
    color: rgb(255, 243, 28);
    --stroke-width: 3pt;
    --stroke-color: rgb(72, 75, 238);
    text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
    var(--stroke-color),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
    var(--stroke-color),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
    var(--stroke-color);
}

.section-body {
    width: 90%;
    background: #FFF7D3;
    z-index: 5;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
    padding: 50px 0 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 25px;
    /* overflow-x: hidden; */
    border: 1px solid black;
}


.section-header img {
    height: 100%;
    width: 100%;
}

.section-header span {
    position: absolute;    
}

.section-body h1 {
    color: rgb(61, 59, 52);
    font-size: 1.4em;
    font-family: pixelate;
    letter-spacing: normal;
    border-top: 3px solid rgb(61, 59, 52);
    width: 80%;
    line-height: 1.2;
}

/* defining marquee.*/
#marquee-container {
    width: 10000%;
    height: 256px;
    margin-top: 10px auto;
    background: white;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    overflow: hidden;
}

/* mobile marquee behavior */
.photobanner {
    background: url('../media/marquee_banner2.png') repeat-x;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    /* animation: slide 33s linear infinite; */
}
/* @keyframes slide{
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(-4335px, 0, 0);
    }
} */

.section-body p {
    text-align: center;
    width: 80%;
    font-family: opensans-condensed-regular;
    font-size: 1.3em;
    margin-top: 22px;
    color: rgb(61, 59, 52);
}

.bios_layout {
    width: 80%;   
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0px solid;
    border-top: 1px solid;
    font-family: opensans-condensed-regular;
    font-size: 1.2em;
    color: rgb(61, 59, 52);
    text-align:justify;
    hyphens: auto manual;
}
.float_pfp img{
    float: left;
    margin-right: 4px;
    margin-bottom: -4px; 
    max-width: 25%;
    min-width: 92px;
}

.table-contents {
    background-color: rgba(255, 255, 255, 0.7);
    min-width: 250px;
    width: 100%;
    border: none;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    /* border-top: 1px solid; */
    text-align: center;
    font-family: opensans-condensed-regular;
    font-size: 1.25em;
    color: rgb(61, 59, 52);
    justify-content: center;
    padding-left: 4px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
}

.table-contents td, h2{
    border: 0px solid;
    padding: 4px;
    font-family: opensans-condensed-bold;

}

.bold-red {
    color: rgb(255, 68, 68);
    font-family: opensans-condensed-bold;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    max-width: 60%;
    height: 68px;
}

.ccobanner {
    width: 90%;
    max-width: 500px;
    background: #ffffff85;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

#roadmap {
    background-image: url("../media/map_v2_small.png");
    background-repeat: repeat;
    background-size: 85%;
    background-position-x: center;
    border: none;
    width: 100%;
    max-width: 1300px;
    border-radius: 20px;
    margin: 10px 0px 0px 0px;
    padding: 20px 0 20px 0;
    box-shadow: none;
}

#home_icon{
    background:url("../media/social icons/social_sprites.png");
    min-width:68px;
    margin: 0 5px 0 5px;
}
#discord_icon {
    background:url("../media/social icons/social_sprites.png") -68px;
    min-width: 68px;
    margin: 0 5px 0 5px;
}
#twitter_icon {
    background:url("../media/social icons/social_sprites.png") -136px;
    min-width:68px;
    margin: 0 5px 0 5px;
}

#opensea_icon {
    background:url("../media/social icons/social_sprites.png") -204px;
    min-width:68px;
    margin: 0 5px 0 5px;
}

/* Threshold from phone to tablet */
@media (min-width: 720px) {
    .section-header {
        width: 100%;
        max-width: 1400px;
        max-height: 300px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: opensans;
        font-size: 4em;        
        letter-spacing: -3px;
        position: relative;
    }
    .section-header span {
        color: rgb(255, 243, 28);
        --stroke-width: 4pt;
    }
}

/*Threshold from tabled to desktop*/
@media (min-width: 1280px) {

/* #Marquee behavior Desktop */
    /* .photobanner {
        background: url('../media/marquee_banner2.png') repeat-x;
        height: 256px;
        width: 100%;
        margin-bottom: 10px;
        animation: slide 33s linear infinite;
} */

    .nav-footer {
        display: none;
    }

    #mobile-quicklinks{
        display: none;
    }

    main {
        display: block;
        height: fit-content;
    }
    
    .content {
        display: flex;
        flex-direction: row;
        width: 100%;
        overflow: visible;
        margin-top: 0px;
    }
    
    .flexContainer{
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
    }

    .main-section {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 10px;
        width: 100%;
        overflow-y: hidden;
    }


    .sticky{
        position: sticky;
        position: -webkit-sticky;
        top: 1%;
        z-index: 99;
    }

    .left-sidebar, .right-sidebar {
        width: 365px;
        padding-top: 1%;
        /* padding-bottom: 720px; */
        min-width: 365px;
        margin: none;
        /* border-right: 1px solid black;
        border-left: 1px solid black; */
        justify-content:flex-start;
        display: flex;
        flex-direction: column;
        background-repeat:repeat-y;
    }
    
    .left-sidebar {
        background-image: url('../media/blue\ border\ left.png');
    }

    .right-sidebar {
        background-image: url('../media/blue\ border\ right.png');
    }
    
    /* #bottom-logo {
        position: sticky;
        top: 100%;
    } */

    .tabs-and-yellow-bar{
        display: flex;
        flex-direction: row;
        height: 8%;
        /* border: 1px solid black; */
        justify-content:space-between;
    }

    .tab_container{
        background-color: transparent;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
    }

    .socials {
        display: flex;
        justify-content: center;
        width: 100%;
        margin: 10px;
    }
    
    .socials img {
        margin: 0 10px;
    }
    
    .section {
        width: 100%;
        /*height: 250%; /*paramater to fix section stacking*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: top;
        margin: 20px 0 20px 0;
    }
    
    .section-header {
        width: 100%;
        max-width: 1400px;
        max-height: 300px;
        z-index: 10;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: opensans;
        font-size: 4em;        
        letter-spacing: -3px;
        position: relative;
    }

    .section-header span {
        color: rgb(255, 243, 28);
        --stroke-width: 5pt;
        --stroke-color: rgb(72, 75, 238);
        text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
        var(--stroke-color),
        calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
        var(--stroke-color),
        calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
        var(--stroke-color);
    }
    
    .section-body {
        width: 90%;
        max-width: 1300px;
        background: #FFF7D3;
        margin-top: -50px;
        z-index: 5;
        border-radius: 25px;
        box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.3);
        padding: 100px 0 50px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-body h1 {
        width: 70%;
        color: rgb(61, 59, 52);
        font-size: 2.2em;
        font-family: pixelate;
        letter-spacing: normal;
        border-top: 3px solid rgb(61, 59, 52);
    }

    .section-body p {
        text-align: center;
        width: 90%;
        font-family: opensans-condensed-regular;
        font-size: 1.4em;
        margin-top: 22px;
        color: rgb(61, 59, 52);
    }
    
    .btn-img {
        border: none;
        cursor:pointer;
        background-color: transparent;
    }
      
    .btn-img:hover{
        opacity: 0.8;
        position: relative;
        transition: all 0.1s ease;
            -webkit-transition: all 0.1s ease;
            -moz-transition: all 0.1s ease;
            -o-transition: all 0.1s ease;
        transform: scale(1.04);
            -webkit-transform: scale(1.04);
            -ms-transform: scale(1.04);
            -moz-transform: scale(1.04);
            -o-transform: scale(1.04);
    }

    .tab {
        cursor: pointer;
        height: 125px;
        width: 310px;
        margin: 0px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: opensans-condensed-regular;
        font-size: 1.6em;
        color: rgb(255, 247, 211);
        background-repeat: no-repeat;
    }

    #tab-1 {
        background: url('../media/tabs_1_on.png');
    }
    #tab-2 {
        background: url('../media/tabs_2_off.png');
    }
    #tab-3 {
        background: url('../media/tabs_3_off.png');
    }
    #tab-4 {
        background: url('../media/tabs_4_off.png');
    }
    #tab-5 {
        background: url('../media/tabs_5_off.png');
    }
}

/* for anything bigger that nathan's small screen */
/* @media (min-width: 1920px){
    .left-sidebar {
        padding-bottom: 600px;
        justify-content:space-around;
    }
    .right-sidebar {
        padding-bottom: 600px;
        justify-content:space-around;
    }
} */